.cardBackground {
    color: #282c34;
}

.covidTrackerSize {
    font-size: 3.4vw;
}

.covidTrackerFont {
    font-family: "Lucida Console", Courier, monospace;
    color: #777b85
}

.dropDownSize {
    height: 25em;
    overflow: auto;
    width: 15em;
}

.dropDownButtonSize {
    width: 34vw;
}

.dropDownButtonSizeMobile {
    width: 2.2vw;
}

