.cardBackground {
    color: #282c34;
}

.covidCountryFontSize {
    font-size: 7vw;
}

.covidTrackerSize {
    font-size: 3vw;
    -ms-transform: rotate(20deg); /* IE 9 */
    transform: rotate(20deg);
    padding-right: 12vw;
    margin-top: 70px;
}

.covidTrackerFont {
    font-family: "Lucida Console", Courier, monospace;
}