.cardBackground {
    color: #282c34;
}

.covidCountryFontSize {
    font-size: 6vw;
    color: #212224
}

.covidTrackerSize {
    font-size: 3vw;
    margin-top: 1em;
}

.covidTrackerFont {
    font-family: "Lucida Console", Courier, monospace;
    color: #212224
}

.dropDownSize {
    height: 20vw;
    overflow: auto;
    width: 20vw;
}

.dropDownButtonSize {
    width: 20vw;
}

