.cardBackground {
    color: #282c34;
}

.covidCountryFontSize {
    font-size: 7vw;
}

.covidTrackerSize {
    font-size: 3vw;
}

.covidTrackerFont {
    font-family: "Lucida Console", Courier, monospace;
}