.covidCountryFontSizeMobile {
    font-size: 6vw;
    color: #212224
}

.covidTrackerSizeMobile {
    font-size: 9.5vw;
    margin-top: 1em;
}

.covidTrackerFontMobile {
    font-family: "Lucida Console", Courier, monospace;
    color: #777b85
}

.dropDownSizeMobile {
    max-height: 20em;
    overflow: auto;
    width: 80vw;
}

.dropDownButtonSizeMobile {
    width: 80vw;
}