.covidCardSize {
    width: 25%;
}

.textCenter {
    text-align: center;
}

.covidCardColor {
    background-color: #282c34;
}

.covidTextColor {
    color: #767980;
}

.covidTextFont {
    font-family: "Lucida Console", Courier, monospace;
}

.covidFontSizeNumbers {
    font-size: 2em;
}

.covidFontSizeText {
    font-size: 1em;
}