.textCenter {
    text-align: center;
}

.covidCardColor {
    background-color: #282c34;
}

.covidTextColor {
    color:white;
}

.covidTextFont {
    font-family: "Lucida Console", Courier, monospace;
}

.covidFontSize {
    font-size: 0.8vw;
}

